[2018-08-21 02:02] joeldenning opened #1 "Step 3 - Once you have a certificate of eligibility, file a petition to obtain an expungement court order"

[2018-08-21 02:02] joeldenning opened #2 "Gain access to court data"

[2018-08-21 02:03] joeldenning opened #3 "Build a UI that lets you access to court data"

[2018-08-21 02:05] joeldenning opened #4 "Integrate with firebase for authentication and persistence"

[2018-08-21 02:06] joeldenning opened #5 "Step 2 - Certificate of Eligibility"

[2018-09-02 00:11] joeldenning opened #6 "Add expungement clinic info to our website"

[2018-09-02 00:12] joeldenning commented on #6
From Noella:

[2018-09-02 00:13] joeldenning opened #7 "Make web forms look better"

[2018-09-02 00:14] joeldenning opened #8 "Add favicon to website"
We don't have a logo or anything beyond just the one at the top right of utahexpungements.org, so idk what the favicon should be. But we should pick one and then add it to the website.

[2018-09-02 00:16] joeldenning opened #9 "Make the footer always at the bottom of the page"
I don't think the header should be fixed positioned, because we don't want it to always show. And I don't think that we need to do fancy stickiness for the footer or anything. But we just need to make sure that on big screens or pages with not a lot of content that the footer is never above the bottom of the page.

[2018-09-02 00:37] joeldenning opened #10 "Form - Petition for Expungement (Conviction)"
This is part of Step 3

https://www.utcourts.gov/howto/expunge/docs/01_Petition_to_Expunge_Records_Criminal-conviction.pdf

[2018-09-02 00:39] joeldenning opened #11 "Form - Petition for Expungement (Drug Conviction)"
This is part of step 3. Pdf is found at https://www.utcourts.gov/howto/expunge/docs/01_Petition_to_Expunge_Records_Criminal-drug_possession.pdf

[2018-09-02 00:42] joeldenning opened #12 "Create a translatable string id for all strings in the app."
This means altering each of the components in [this directory](https://github.com/UtahAccessToJustice/utahexpungements.org/tree/master/src/app/forms/inputs) to look more respectable/professional.

[2018-09-02 00:42] joeldenning commented on #7
This means altering each of the components in [this directory](https://github.com/UtahAccessToJustice/utahexpungements.org/tree/master/src/app/forms/inputs) to look more respectable/professional.

[2018-09-02 18:58] lukeschunk commented on #9
fixed here: https://github.com/UtahAccessToJustice/utahexpungements.org/commit/c7d6c060e0254f897b2821de549554ac753ea53e

[2018-09-02 18:58] #9 closed

[2018-09-18 02:31] joeldenning opened #13 "Form - Motion To Waive Fees"
https://www.utcourts.gov/resources/forms/waiver/docs/1301GE_Motion_to_Waive_Fees_and_Statement_Supporting.pdf

[2018-09-18 02:40] joeldenning opened #14 "Form - Affidavit Supporting Motion to Waive Fees"
https://www.utcourts.gov/resources/forms/waiver/docs/02_Financial_Affidavit_Supporting_Motion.pdf

[2018-10-02 16:53] joeldenning opened #15 "Form - Petition to Expunge Records for Dismissal or Acquittal"
Raw form is at https://www.utcourts.gov/howto/expunge/docs/01_Petition_to_Expunge_Records_Criminal-dismissal_or_acquittal.pdf

[2018-10-16 01:37] joeldenning opened #16 "Components for creating and applying a signature to a form"

[2018-10-30 01:28] joeldenning opened #17 "Encourage people to get a BCI printout."
https://bci.utah.gov/wp-content/uploads/sites/15/2018/01/ROA-12-5-2017.pdf

$15

15-20 mins

[2018-10-30 01:28] joeldenning opened #18 "Process BCI report and tell people eligibility, estimated cost, etc."

[2018-10-30 01:29] joeldenning opened #19 "Polish up content about expungements"

[2018-10-30 01:30] joeldenning opened #20 "Get some sample BCI printouts"

[2018-10-30 01:33] joeldenning opened #21 "Get list of courts and addresses to put into our forms."
Tucker is going to get this for us and then we're going to surface this to the users.

[2018-10-30 12:50] leahjlou commented on #17
Added a banner to the eligibility tool

![screen shot 2018-10-30 at 6 47 35 am](https://user-images.githubusercontent.com/2423414/47719097-ba1ec900-dc0f-11e8-8c33-e7544fde0af8.png)

[2018-10-30 12:50] #17 closed

[2018-11-07 17:49] #4 closed

[2018-11-07 18:37] leahjlou opened #22 "Community forum link is broken"
utahexpungements.freeflarum.com redirects to freeflarum.com. Maybe our forum expired from inactivity? We should fix it and maybe post a thread on the forum for bug reports or something

[2018-11-09 20:20] lukeschunk commented on #20
should have one of these today 🤞

[2018-11-12 02:02] joeldenning commented on #22
Our forum got deactivated because of two months of no activity. I have sent an email to the people at freeflarum.com to see if they can reactivate it.

[2018-11-12 02:03] joeldenning commented on #20
Awesome -- ryan and I have one too

[2019-07-17 15:30] joeldenning opened #23 "Form - Draft a Court Order (Conviction)"

[2019-07-17 15:31] joeldenning opened #24 "Form - Draft a Court Order (Drug Conviction)"
https://www.utcourts.gov/howto/expunge/docs/08_Order-drug_possession.pdf

[2019-07-17 15:31] joeldenning opened #25 "Form - Coversheet"
https://www.utcourts.gov/resources/forms/civil/Civil_Filing_Cover_Sheet.pdf

[2019-07-17 15:31] joeldenning opened #26 "Form - Acceptance of Service"
https://www.utcourts.gov/howto/expunge/docs/09_Acceptance_of_service.pdf

[2019-07-17 15:31] joeldenning opened #27 "Form - Consent and Waiver of Hearing"
https://www.utcourts.gov/howto/expunge/docs/09_Consent-waiver_of_hearing.pdf

[2019-07-17 15:42] joeldenning commented on #14
This form is no longer necessary, as of the update a month or two ago

[2019-07-17 15:42] #14 closed

[2019-07-17 15:45] joeldenning opened #28 "Form - Court Order for Waiving Fees"
https://www.utcourts.gov/resources/forms/waiver/docs/1302GE_Order_on_Motion_to_Waive_Fees.pdf

[2019-07-17 15:48] joeldenning opened #29 "Form - Court order for Petition (Dismissal or Acquittal)"

[2019-07-17 15:49] joeldenning opened #30 "Form - Petition for Expungement (Charges Never Filed)"

[2019-07-17 15:50] joeldenning opened #31 "Form - Petition for Expungement (Special Certificate from BCI)"
https://www.utcourts.gov/howto/expunge/docs/01_Petition_to_Expunge_Records_Criminal-special_certificate.pdf

[2019-07-17 15:51] joeldenning opened #32 "Court Order - Petition for Expungement (Charges Never Filed)"

[2019-07-17 15:51] joeldenning opened #33 "Court Order - Petition for Expungement (Special Certificate from BCI)"

[2019-07-17 15:51] joeldenning opened #34 "Form - Proof of Service"

[2019-07-17 15:52] joeldenning opened #35 "Form - Reply to Victim's or Prosecutor's Statement"
https://www.utcourts.gov/howto/expunge/docs/03_Petitioner_Reply.pdf

[2019-08-21 22:13] tuckersamuelsen commented on #23
On this form the petitioner should fill it out as follows:
1) Fill out top left corner completely.
2) Fill out the middle section of the first page, but it'd be nice to include a snippet that says it's OK if they don't know the judge's name - the person likely won't know that.
3) Check the box by "The pleadings and other papers of the parties".
--
4) Page 2 section 4, that's the same case number a

[2019-08-30 17:05] tuckersamuelsen commented on #27
This form needs to be delivered to the prosecutor but will not be filed by the petitioner.  They'll fill it out but then deliver it to the prosecutor.

1. Do NOT fill out the top left corner - the prosecutor will fill out that section.
2. Do fill out the section with the court address.  That may be easiest using Sean's lookup table.
3. Do fill in the petitioner name and the case number.
4. Do not

[2019-08-30 17:26] tuckersamuelsen commented on #24
For this form:

1. Fill out the top left corner with the petitioner's information.
2. Fill in the court location information with Sean's table.
3. Fill in petitioner name and case number.  Judge name may not be necessary.
4. Check the box by "The pleadings and papers..."
5. Under section 5, put in the same case number as above.
6. Under section 6 put in the same case number.

[2019-08-30 17:49] ianialator commented on #27
Thank you!

On Fri, Aug 30, 2019, 11:05 AM tuckersamuelsen <notifications@github.com>
wrote:

[2019-08-30 17:50] #11 closed

[2019-08-30 18:02] #26 closed

[2019-09-04 02:12] joeldenning opened #52 "Missing info for docket pdf parser"
We're missing the following info:

- Case Closed date, if present
- Pull out severity from Description
- Whether the case is closed or not.

[2019-09-10 20:35] #24 closed

[2019-09-11 17:08] tuckersamuelsen commented on #13
The form has changed.  This is the form to fill out:
https://www.utcourts.gov/resources/forms/waiver/docs/1301GE_Motion_to_Waive_Fees_and_Statement_Supporting.pdf

[2019-09-17 23:03] lukeschunk commented on #25
@tuckersamuelsen  on this form the "Defendent/respondant" portion - who is that referring to?

In our data we have "person" and I was assuming that was the petitioner; I'm not sure if we have the concept of the "defendant/respondant" in our system yet.

[2019-09-18 01:45] jenseng commented on #28
What should we put as the description for this form? Since it's the court's order on the motion, and not the motion itself, maybe something like: "A form you file with the courts so the judge can rule on your motion to waive fees" ?

[2019-09-18 01:58] lukeschunk commented on #25
See what I have so far - let me know what else needs to be filled out:

<img width="530" alt="Screen Shot 2019-09-17 at 7 55 03 PM" src="https://user-images.githubusercontent.com/13579578/65100636-587d5f80-d985-11e9-85ef-5ad5af565008.png">
<img width="524" alt="Screen Shot 2019-09-17 at 7 55 11 PM" src="https://user-images.githubusercontent.com/13579578/65100637-587d5f80-d985-11e9-82ff-b6f725c9a34

[2019-09-18 02:45] joeldenning commented on #28
Yeah that description sounds good. Maybe clarify “file with your expungement petition.”

My understanding is that you file about 5 forms all together in one go:

- certificate of eligibility
- petition
- court order for petition
- motion for fees
- court order for fees

I think Tucker sometimes calls all those forms together an “expungement forms packet” or something similar.

[2019-09-25 01:39] #28 closed

[2019-09-29 01:21] benschinn commented on #15
I can take this one on, if no one is working on it currently. 🙋‍♂️

[2019-09-29 21:41] joeldenning commented on #15
No one has taken this one yet! Go for it.

[2019-09-30 01:52] benschinn commented on #15
I noticed many of the other form related issues don't have a pdf link. Are those pdf documents to be shared in those issues, or can they be discovered else where?

[2019-09-30 19:19] joeldenning commented on #15
Many of the forms can be found at https://bci.utah.gov/expungements/expungement-forms/. All of the forms can be found through google searches or by looking on public utah.gov websites. They're all publicly available

[2019-10-02 02:02] joeldenning opened #61 "rem css issue"
In some browsers the app looks huge sometimes. It is because we have one rem set to one pixel. We should change it to just leave the browser default in place of one rem set to 16px.

This will requiring updating all css in all components to use the new rem size.

[2019-10-02 02:03] joeldenning opened #62 "Build fails for forks"
I think it's because env variables are not made available to PRs in different repos. Not sure though. We should fix this.

[2019-10-02 20:25] #62 closed

[2019-10-04 01:57] samuelmoutah commented on #30
Hi, I would like to take this issue on please.

[2019-10-04 16:27] joeldenning commented on #30
Okay I've assigned you this form, @samuelmoutah.

[2019-10-06 05:10] benschinn commented on #15
https://github.com/JustUtahCoders/utahexpungements.org/pull/65

[2019-10-06 05:10] #15 closed

[2019-10-09 01:43] tuckersamuelsen commented on #25
I like this but I think it might be useful to have a radio before the Attorney part.  Basically just ask if an attorney is filling it out for them, and if they say yes than ask for attorney name and bar number.  I can see it being confusing if a person is on their own, not knowing what to put.

What do you think?

[2019-10-10 21:51] HappyViki commented on #33
I want to work on this form!

[2019-10-11 00:53] joeldenning commented on #33
Just assigned you to it.

[2019-10-13 21:13] #35 closed

[2019-10-16 16:39] lukeschunk commented on #25
That sounds good - we can only include the attorney name and bar number if it's an attorney filling out the form. We already have similar radio-button style logic in other forms 👍

[2019-10-21 20:15] HappyViki commented on #61
Is this still an issue? Can you share which browsers, pages, and screenshots of where it's happening?

I want to work on this.

[2019-10-22 17:26] joeldenning commented on #61
Yes -- on Firefox and Chrome intermittently the browser is completely the wrong size. Most recently @kthompson55 was seeing this on his machine.

To fix it, delete this line of code:

https://github.com/JustUtahCoders/utahexpungements.org/blob/8e040d8b8e7f9a4c50d8bbb506a819257976ade1/frontend/styleguide.js#L29

That will change the font size for the root element, which determines the size of the `

[2019-10-23 04:44] joeldenning opened #78 "Pardon Application Form"
https://bop.utah.gov/images/pdf/PardonApplication.pdf

[2019-10-23 04:51] joeldenning opened #79 "Application for Board of Pardon Expungement"
https://bci.utah.gov/wp-content/uploads/sites/15/2019/08/BOP-Exp-App-08-09-2019-Mail-In.pdf

[2019-10-23 04:54] joeldenning commented on #79
@scotttball here's a good one to start with

[2019-10-25 19:13] #79 closed

[2019-10-25 19:45] joeldenning commented on #27
Resolved in #87

[2019-10-25 19:45] #27 closed

[2019-10-28 17:05] Cuthbert20 commented on #61
Hi, I know the issue was already fixed but, I was thinking what if we just set font-size to a percent so assuming 100% is 16px and we wanted 1px to be our default font-size so we can use rem for margin or padding to make media queries easier we could set font-size to 1 divided by 16 (6.25%). That way we can still use rem's for styling and the user could change the size of the font in their browser

[2019-10-28 18:11] joeldenning commented on #61
The problem is that browsers don't like it when you set the root font size so small. Chrome sometimes refuses to respect that font-size and then the app looks weird. The code currently already does set the font size that small, and it doesn't work in all browsers.

[2019-10-28 18:11] joeldenning commented on #61
This was fixed in #81

[2019-10-28 18:11] #61 closed

[2019-10-29 05:03] scotttball commented on #78
@joeldenning this one is going to take me a day longer. I have to make some new data types to handle the new fields. :(

[2019-10-29 21:05] joeldenning opened #94 "Parse disposition date from PDF"

[2019-10-29 21:05] joeldenning opened #95 "Separate offense name from severity"

[2019-10-29 21:06] joeldenning opened #96 "Handle/test edge cases where the PDF is different from normal"

[2019-10-29 21:10] joeldenning opened #97 "Calculate the "relevant date" for expungement eligibility."
See Tucker's comments on https://drive.google.com/drive/u/0/folders/1cW6RM4jLDeiLeSy7emI8_xdf6HhpfBhG

[2019-10-29 21:11] joeldenning opened #98 "(Explore): Can we parse out whether there is a fine/fee for the case, and also whether it was paid or not."

[2019-10-29 21:12] joeldenning opened #99 "Set up the first tests for parse-docket-pdf.utils.js"
We don't want to out someone on their criminal record in a public github repo. So the names and case number and stuff in the test cases should be obfuscated/changed.

[2019-10-29 21:15] joeldenning opened #100 "Alter docket pdf API so that it indicates if it's missing data, or if it was unable to parse the pdf, etc."
We want to know how confident we are about whether the information we have is parseable and enough

[2019-10-29 21:35] joeldenning commented on #99
My suggestion for this is the following:

- Install jest and jest-cli.
- Create a file in the `backend/apis/` folder called `parse-docket-pdf.utils.test.js`
- Create a folder `backend/apis/docket-pdf-test-files/`
- Copy the text content (not pdf) from the example pdfs we have. Create a file for each one. Make each one a js file that does `module.exports = '...'`
- Have parse-docket-pdf.utils.test.

[2019-10-29 21:38] joeldenning commented on #94
The disposition date is not always the important date for expungement eligibility, but it often is. It's a piece of information that should be parsed out and included in each `charge` object that gets returned from the API.

[2019-10-29 21:39] #13 closed

[2019-10-29 21:42] Cuthbert20 commented on #6
I created another overview landing 7 in en.js and rendered it in landing.component.js. I was wondering though do we want to include a link to the event? If so this is the only url I could find that references the event, the problem being it also references other free legal clinics.  I didn't know if it would be to confusing for a user.
I was just wondering if I could get your opinion on the url, i

[2019-10-29 21:44] joeldenning commented on #96
For this issue, we should log in to XChange and try to find pdfs that are abnormal. Then bring them in as test cases. "Abnormal" means it has a different PDF format or is missing information. Generally speaking, the older a case is, the more likely it will be abnormal.

[2019-10-29 21:45] joeldenning commented on #98
Some docket pdfs list fines and fees that were required to be paid, and then also the payment dates.

This github issue is to explore whether we can reliably parse out that information from the PDFs.

[2019-10-29 21:50] joeldenning opened #101 "Fix bug where sometimes PDF fails to process the first time"
For some of the example pdfs, they occasionally fail to process the first time you click on the button and you have to press the button again to process them.

As far as I can tell, this is related to something weird related to pdf parse

https://github.com/JustUtahCoders/utahexpungements.org/blob/master/backend/apis/parse-docket-pdf.api.js#L31

I think the easiest solution might be just to retry

[2019-10-29 22:06] joeldenning commented on #6
Resolved in https://github.com/JustUtahCoders/utahexpungements.org/pull/91

[2019-10-29 22:06] #6 closed

[2019-10-29 22:35] joeldenning commented on #78
👍 no worries. Thanks again for your help! I will share with you over slack the next initiative within utahexpungements.org after you get that one finished.

[2019-10-29 22:46] seanbw89 commented on #29
This was fixed here https://github.com/JustUtahCoders/utahexpungements.org/pull/65

[2019-10-29 22:46] #29 closed

[2019-10-29 22:49] seanbw89 commented on #25
Fixed here #56 & #90

[2019-10-29 22:50] #25 closed

[2019-10-30 00:57] seanbw89 opened #103 "Motion to reduce conviction"
https://www.utcourts.gov/howto/criminallaw/docs/01_Motion_to_Reduce_Conviction.pdf

[2019-10-30 00:57] seanbw89 opened #104 "Request to submit for decision"
https://www.utcourts.gov/howto/filing/motions/docs/1110GE_Request_to_Submit_for_Decision.pdf

[2019-10-30 00:58] seanbw89 opened #105 "Order on motion to reduce conviction"
https://www.utcourts.gov/howto/criminallaw/docs/05_Order_on_Motion_for_Reduction_of_Conviction.pdf

[2019-10-30 02:59] #94 closed

[2019-10-31 18:16] #105 closed

[2019-11-01 18:18] jamesschlader commented on #98
According to the content one pdf that is thick with accounts, it seems that we could parse out each account to be paid with special attention to ones that look like this:
REVENUE DETAIL - TYPE: FINE
We could search for "REVENUE DETAIL - TYPE:" to get all of the relevant Accounts. This would, hopefully, distinguish fee/fine/sentence accounts from bail or refund accounts. At any rate, the plan would

[2019-11-01 22:06] tuckersamuelsen commented on #98
My advice:

1) The fine/fee section at the top, believe it or not, is NOT helpful.  Many accounts with unpaid fines are simply sent to the state debt collection agency, and will show a 0 balance at the top.

2) If there is a balance near the top, then it there is an unpaid fine.  If the balance is 0, there still might be an unpaid fine, so that isn't dispositive.

3) There may be a minute entry so

[2019-11-01 22:37] Cuthbert20 commented on #95
I am thinking of splitting @ 1st || 2nd || 3rd || Class. My only concern is if there is an offense name that includes the word "class" in it.
I am going try and find a list of offense names and see if there are any that include the word class.

[2019-11-03 03:15] joeldenning commented on #95
I think one implementation approach could be to find the last word that is all caps and then split the string based on that.

[2019-11-03 03:18] joeldenning commented on #98
Thanks for the info Tucker. Sounds like the ACCOUNT SUMMARY section doesn't always have everything needed in it.

@jamesschlader yeah I think this is a good approach. Let's get as much as we can parsed and then use rules for eligibility qualification in the future phases.

[2019-11-04 17:15] Cuthbert20 commented on #95
yeah that's a great idea.
Thanks!

[2019-11-04 23:24] tuckersamuelsen commented on #95
I just pulled up about a bunch of old court cases, and I have not found any counter examples to the option @joeldenning presented.  I think we can safely say that the offense description will ALWAYS be all caps, and the severity will ALWAYS be first letter capitalized, otherwise lowercase.

[2019-11-05 04:18] joeldenning opened #114 "Updates to Order on Motion for Reduction of Conviction"
From Tucker

1) the plaintiff present and defendant present fields are conditional on the "A Hearing Served by All parties" field being selected.
2) We'll probably want some text explaining what those options mean, but 99% of the time they'll want to select "The Pleadings and Papers of the parties".
3) The stuff underneath the "The Court Finds" section does still need to be filled out.  Some of th

[2019-11-05 18:31] #99 closed

[2019-11-05 18:53] joeldenning commented on #97
https://drive.google.com/open?id=123uITJdE2Jd4Hx3hy2fzGIibs6dJ5pVF&disco=AAAADncTSBQ

[2019-11-05 18:54] joeldenning commented on #96
Closing as duplicate of #100

[2019-11-05 18:56] #96 closed

[2019-11-06 21:47] joeldenning commented on #104
@graciasc is going to take this one

[2019-11-06 21:55] joeldenning opened #117 "Add eslint"
For frontend, we can use https://github.com/joeldenning/eslint-config-react-important-stuff. For backend we can maybe reuse the same config, or use https://github.com/joeldenning/eslint-config-node-important-stuff

[2019-11-08 00:31] benschinn commented on #103
classifications of criminal offenses in utah:
https://www.utcourts.gov/howto/criminallaw/penalties.asp

this may be helpful to refer for section (1)

[2019-11-08 05:23] scotttball opened #120 "frontend/app/user/cases-list.component.js wire delete button"
Ha good point, yeah we should fix that.

frontend/app/user/cases-list.component.js

* wire delete button up

_Originally posted by @joeldenning in https://github.com/JustUtahCoders/utahexpungements.org/pull/119_

[2019-11-09 05:31] #117 closed

[2019-11-09 06:42] benschinn opened #121 "Initialize client side unit testing"
For greater confidence in the app's behavior, we should have unit tests.

[2019-11-12 02:15] joeldenning opened #124 "Form: CHALLENGING INFORMATION CONTAINED ON A CRIMINAL HISTORY RECORD"
https://site.utah.gov/dps-criminal/wp-content/uploads/sites/15/2018/01/Challenge-Application-12-5-2017.pdf

[2019-11-12 02:18] joeldenning opened #125 "Form: CERTIFICATE OF ELIGIBILTYFOREARLYREMOVAL OF NAME FROM THE SEX OFFENDER/KIDNAP REGISTRY"
Form: https://bci.utah.gov/wp-content/uploads/sites/15/2019/08/SOLR-App-08-14-2019.pdf

[2019-11-12 02:24] deandavidbrittain commented on #124
Hey, I'd like to work on this 🤚

[2019-11-12 02:26] joeldenning commented on #124
Hi @deandavidbrittain - that's great. I just assigned you to the issue, and also invited you to the Github organization so that you're able to assign yourself issues in the future. To accept the invitation, either check your email and click on the link, or go to github.com/JustUtahCoders and click on the accept button at the top.

[2019-11-13 02:13] #101 closed

[2019-11-13 21:00] #98 closed

[2019-11-20 03:13] tuckersamuelsen opened #131 "Violent Felony Flag"
Determine whether a conviction is a violent felony, as defined by Utah Code 76-3-203.5(1)(c)(i).

[2019-11-20 03:13] tuckersamuelsen opened #132 "First Degree Felony Flag"
Determine if the offense is a First Degree Felony

[2019-11-20 03:14] tuckersamuelsen opened #133 "Child Abuse Flag"
Determine if the offense is a registerable Child Abuse flag as defined in Utah Code 77-43-102(2).

[2019-11-20 03:15] tuckersamuelsen opened #134 "Registerable Sex Offense Flag"
Determine if the offense is a registerable sex offense as defined in Utah Code 77-41-102(17)

[2019-11-20 03:15] tuckersamuelsen opened #135 "Automobile Homicide Flag"
Determine if the offense is a Felony Automobile Homicide Flag

[2019-11-20 03:16] tuckersamuelsen opened #136 "Drug Conviction Flag"
Determine if the individual has greater than 5 drug possession convictions

[2019-11-20 03:16] tuckersamuelsen opened #137 "Drug Felonies Flag"
Determine if the person has at least 3 drug possession felonies

[2019-11-20 03:17] tuckersamuelsen opened #138 "Total Conviction Flag"
Determine if the individual has at least 5 total convictions, other than minor regulatory offenses and drug possession offenses.

[2019-11-20 03:17] tuckersamuelsen opened #139 "Total Felony Flag"
Determine if the individual has at least 2 felonies other than Drug Possession Offenses.

[2019-11-20 03:18] tuckersamuelsen opened #140 "Misdemeanor A Flag"
Determine if the individual has at least 3 total convictions where 2 are Misdemeanor A's.

[2019-11-20 03:18] tuckersamuelsen opened #141 "Misdemeanor B Flag"
Determine if the individual has at least 4 convictions where 3 are Misdemeanor B's.

[2019-11-20 03:19] tuckersamuelsen opened #142 "Total Conviction Flag"
Determine if the individual has at least 5 total convictions other than minor regulatory offenses and drug possession offenses.

[2019-11-20 03:20] tuckersamuelsen opened #143 "Waiting Period Flag"
Determine if the offense has passed the waiting period listed in Utah Code 77-40-105(3).

[2019-11-20 03:20] tuckersamuelsen opened #144 "Debt Collection Flag"
Determine if the individual has had any case sent to the Office of State Debt Collection, or if they have a current balance on the case.

[2019-11-20 03:21] tuckersamuelsen opened #145 "Minor Regulatory Offense"
Determine how to distinguish minor regulatory offenses from non-minor regulatory offenses.

[2019-11-20 03:21] tuckersamuelsen opened #146 "Drug Possession Offense"
Identify if the offense is a drug possession offense.

[2019-11-25 02:16] #31 closed

[2019-12-11 01:59] MeghanBomberger opened #149 "add a 404 page"

[2020-01-22 01:58] lukeschunk commented on #146
There are two statutes that qualify for a drug posession offense, look them up and parse the statute number

[2020-01-22 02:02] benschinn commented on #144
@tuckersamuelsen if they have been sent to the Office of State Debt Collection, does that make the individual ineligible ?

[2020-01-22 02:15] tuckersamuelsen commented on #144
@benschinn not necessarily, but that is the closest we can come with the limitations of the court data.

For the purposes of this tool, we'll probably have flag the case if it has been sent at all.

[2020-01-22 02:16] joevus commented on #141
I can't assign myself to an issue yet, but I'd be happy to work on this one!

[2020-01-22 02:24] tuckersamuelsen commented on #135
The statute is anything under 76-5-207.

So the test is 2 parts: (1) Is the severity a felony, and (2) is the statute 76-5-207.

[2020-01-22 02:27] tuckersamuelsen commented on #140
"(b) any combination of three or more convictions other than for drug possession offenses that
include two class A misdemeanor convictions, each of which is contained in a separate
criminal episode;"

[2020-01-22 02:32] tuckersamuelsen commented on #146
The statute that determines drug possession says:

"(7) "Drug possession offense" means an offense under:
(a) Subsection 58-37-8(2), except any offense under Subsection 58-37-8(2)(b)(i), possession
of 100 pounds or more of marijuana, any offense enhanced under Subsection 58-37-8(2)
(e), violation in a correctional facility or Subsection 58-37-8(2)(g), driving with a controlled
substance illegally

[2020-01-22 02:51] tuckersamuelsen commented on #145
" (11) "Minor regulatory offense" means any class B or C misdemeanor offense, and any local
ordinance, except:
(a) any drug possession offense;
(b)Title 41, Chapter 6a, Part 5, Driving Under the Influence and Reckless Driving;
(c) Sections 73-18-13 through 73-18-13.6;
(d) those offenses defined in Title 76, Utah Criminal Code; or
(e) any local ordinance that is substantially similar to those offen

[2020-01-30 22:38] Cuthbert20 commented on #135
@tuckersamuelsen  Hey Tucker is there a docket that has 76-5-207.  Automobile homicide that I could use for testing?  I went through all the dockets I didn't see one but, I totally could have missed it if there is one.  If not would it be possilbe for you to upload one?  THANKS!

[2020-01-30 22:59] tuckersamuelsen commented on #135
@Cuthbert20  yeah, just added Castillo 191909770 to the Dockets folder.  That's one of the charges there.

[2020-02-05 02:46] tuckersamuelsen opened #162 "Pending Case Flag"
Write a flag if the person has a pending case.

A pending case is any charge without a disposition.  If they have a pending case, they are not eligible to expunge any case whatsoever.

[2020-02-12 01:53] lukeschunk opened #164 "Allow Petitioner Name to be A Separate Entry on all web forms"
* Use existing toggle for "petitioner/attorney" to determine logic to show petitioner name web form field

[2020-02-12 02:10] tuckersamuelsen commented on #164
Example petition.

[Petition Example from Skordas and Caston.pdf](https://github.com/JustUtahCoders/utahexpungements.org/files/4189476/Petition.Example.from.Skordas.and.Caston.pdf)

[2020-02-18 17:44] #135 closed

[2020-02-18 20:07] oliviaclyde opened #167 "Check all forms - readyForUsers set to {true}"
All fillable forms need to be set to true for them to display for use in production setting.

[2020-02-19 05:32] benschinn opened #168 "Upload and parse multiple dockets"

[2020-02-21 03:08] Cuthbert20 commented on #139
@tuckersamuelsen hey Tucker is it just Drug Possession Offenses or any Drug charges? Just checking Thanks!

[2020-03-04 03:01] oliviaclyde opened #174 "Parser logic failing with difference in docket formatting"
Parser logic is failing due to docket formatting differences. It appears most dockets have indentations with white space inside each charge. Outlier case has a docket with left alignment on the charges section. This difference in alignment throws the parsing off and the "Offense Date" is parsed in the "Severity" section. The flag checking the severity of the charge then fails because the array ret

[2020-03-04 20:24] oliviaclyde commented on #132
This flag is complete and has been merged in via #160

[2020-03-04 20:24] #132 closed

[2020-03-04 20:44] Mengqi89 commented on #174
This is what the parser yields:

  "caseNumber": "191906862",
  "charges": [
    {
      "statute": "76-5-202",
      "offenseName": "AGGRAVATED MURDER",
      "severity": "Offense Date: June 17, 2019"
    },
    {
      "statute": "76-5-302",
      "offenseName": "AGGRAVATED KIDNAPPING",
      "severity": "Offense Date: June 17, 2019"
    },
    {
      "statute": "76-8-306(1)",
      "offenseNam

[2020-03-11 01:17] lukeschunk opened #176 "Home Page: Remove Beta Testers Email Field"

[2020-03-14 18:20] benschinn commented on #168
Initial support implemented

[2020-03-14 18:20] #168 closed

[2020-04-16 23:33] tuckersamuelsen opened #179 "Justice Court Cover Sheet"
Add in the Justice Court Cover Sheet, seen here:

https://www.utcourts.gov/resources/forms/civil/Justice_Court_Cover_Sheet.pdf

The checkbox should always say "Expungement Petition".  The other fields should be filled out the same as the District Court cover sheet.

[2020-04-17 18:40] benschinn opened #180 "Form - Order on Petition to Expunge Records (Dismissal or acquittal)"
https://www.utcourts.gov/howto/expunge/docs/08_Order-dismissal_or_acquittal.pdf

[2020-04-18 22:38] Mengqi89 commented on #180
In form-list.component.js, I noticed, for some forms, some props (_name_ and _shortDescription_) have used translated text feature but not for other forms. What is the recommendation on how to handle these props?

[2020-04-19 00:40] benschinn commented on #180
Great question, it would be better to add translated text. The english portion is of course easy. If you are able to add the Spanish portion we can get eyes on it from either Joe Hoskisson or Joel Denning (I think they both speak Spanish).

You can find the en.js and es.js here:
https://github.com/JustUtahCoders/utahexpungements.org/tree/master/frontend/i18n

[2020-04-21 17:25] Mengqi89 commented on #180
I am almost done with this issue. I just need help with the following two items:

1. Description of the form @tuckersamuelsen
2. Spanish translation (this probably can be done altogether later?)

[2020-04-21 19:46] tuckersamuelsen commented on #180
For this form:

The top left section (Name, Address, etc down to Email) should be filled out with the same information as on the other forms for their case.

Petitioner Name should be the same as the person's name.

Judge and Case Number will be the same as for the other forms within the same case.

Do NOT check the box at all for "Pleadings and Papers" or the section for hearings.

Do NOT check t

[2020-04-21 19:55] Mengqi89 commented on #180
Tucker, thanks for the response. I should have been more clear. See beneath.
<img width="179" alt="Screen Shot 2020-04-21 at 1 52 56 PM" src="https://user-images.githubusercontent.com/43308423/79907992-bd93aa80-83d7-11ea-8f0d-91aaf24fe1a2.png">
<img width="179" alt="Screen Shot 2020-04-21 at 1 53 03 PM" src="https://user-images.githubusercontent.com/43308423/79908006-c2585e80-83d7-11ea-9d33-87360e

[2020-04-21 20:00] tuckersamuelsen commented on #180
Oh sorry.  Let's go with:

A form you file with the courts along with your expungement petition if your case was dismissed or acquitted.

[2020-04-22 17:12] Mengqi89 commented on #179
@tuckersamuelsen Do you have a short description for the Justice Court Cover Sheet?

[2020-04-22 17:37] Mengqi89 commented on #179
The personal information filled in this form should go to "Defendant/Respondent". Correct? I noticed on the district court cover sheet, the information went to "Plaintiff/Petitioner". Just want to make sure of where it needs to go.
![Screen Shot 2020-04-22 at 11 36 54 AM](https://user-images.githubusercontent.com/43308423/80014479-98fa0a00-848d-11ea-8b9e-c714bbdf16bc.png)

[2020-04-22 17:47] tuckersamuelsen commented on #179
Description: "The cover sheet for the paperwork you file if your case is in a Justice Court".  Let me know if that's too long.

And actually the person's name *should* be the petitioner, not the defendant.  It's different from the criminal case - in this case, it's a civil action, and they're the ones filing the paperwork.

[2020-04-29 15:23] benschinn commented on #180
https://github.com/JustUtahCoders/utahexpungements.org/pull/181

[2020-04-29 15:23] #180 closed

[2020-04-29 15:46] benschinn opened #183 "Form Bank Issues"
_"Hey all - just had a call with Tucker and the expungement navigator, Jake. It was super cool. Jake has actually been using the form bank portion of the site for several weeks.
In doing that, he’s come up with a handful of issues to address. If we can address them, it’s possible that Tucker’s company will link (or embed, etc) to our site. Which would be awesome for driving some traffic and potent

[2020-04-30 17:24] lukeschunk commented on #183
nice thanks for making this issue!

[2020-05-01 21:09] Mengqi89 commented on #183
@tuckersamuelsen  Regarding item 3, I noticed the **defendant/respondent** in [a separate form](https://www.utcourts.gov/resources/forms/waiver/docs/1302GE_Order_on_Motion_to_Waive_Fees.pdf) has a placeholder of "State of Utah". Do you want me to maintain that placeholder for **defendant/respondent** in district and justice court cover sheets?

`<TextInput
        dataKey="case.defendant"

[2020-05-01 21:36] Mengqi89 commented on #183
Can someone give an example of the following issue?

[2020-05-02 17:41] benschinn commented on #183
It seems like Jake is talking about this form:
https://utahexpungements.org/app/forms/order-on-motion-for-reduction-of-conviction

If you look at section 3, _Matter_, there's a drop down. If you select _"the pleadings and other papers of the parties"_ then it checks the box. It sounds like this behavior needs to be disabled, where we do not allow the user to check that box. The best way to achieve

[2020-05-06 01:05] Mengqi89 commented on #183
Item 4 here is issue https://github.com/JustUtahCoders/utahexpungements.org/issues/179

[2020-05-06 01:06] Mengqi89 commented on #179
This issue should be linked to https://github.com/JustUtahCoders/utahexpungements.org/pull/182

[2020-05-07 18:19] Mengqi89 commented on #183
I am working on 3, 8 and 17.

[2020-05-07 19:42] oliviaclyde commented on #183
I am working on 7

[2020-05-10 22:49] Mengqi89 commented on #183
Issue 3, 8 and 17 are resolved, pending code reviews and merges.

[2020-05-11 22:06] Mengqi89 commented on #183
I believe issue 14 is fixed https://github.com/JustUtahCoders/utahexpungements.org/pull/194

[2020-05-11 22:08] benschinn commented on #183
what PR addresses item 16?

[2020-05-11 22:35] Mengqi89 commented on #183
It's [here](https://github.com/JustUtahCoders/utahexpungements.org/pull/181/commits/2439d3cdb5a85cabe67e8ceef89d06b3713e1ffe). It was fixed a while ago.

[2020-05-12 17:57] Mengqi89 commented on #183
Issue 4 is PR https://github.com/JustUtahCoders/utahexpungements.org/pull/182
Issue 8 is PR https://github.com/JustUtahCoders/utahexpungements.org/pull/195

[2020-05-15 02:07] Mengqi89 commented on #183
I am working on 9, 10 and 15.

[2020-05-16 21:34] Mengqi89 commented on #183
@tuckersamuelsen  I cannot seem to replicate issue 18. Can you please take a point and clarify what the issue looks like? Thanks!

[2020-05-18 21:01] oliviaclyde commented on #183
I think issue 8 has been resolved and can be ~~crossed off~~. @Mengqi89 can you confirm?

[2020-05-18 21:05] Mengqi89 commented on #183
Yes, it's resolved.

[2020-05-19 14:30] oliviaclyde commented on #183
I'm having trouble replicating issue 18. Anyone seeing this occur?

[2020-05-19 15:56] benschinn commented on #183
I will be working on number 11. there are several ways to solve this problem. we could have a tooltip, we could have a pop up or toast UI, we could use the good old alert function. let me know if someone wants to pair on this. I will likely work on this tonight or tomorrow sometime.

[2020-05-19 16:14] oliviaclyde commented on #183
@benschinn I'd love to pair on this and learn something new. I'll make myself available whenever you plan to work on it.

[2020-05-28 20:11] #183 closed

[2020-05-28 22:47] scotttball commented on #120
Fixed by #147

[2020-05-28 22:47] #120 closed

[2020-06-11 16:27] oliviaclyde opened #202 "Form Bank Issues rev2"
_Here is the rev2 version of form issues from Jake._

To help with addressing the issues below, please follow these steps:

If you are actively taking on the issue please check the box.
Once your PR to address the issue has been merged in please do ~~strikethrough~~ on the issue and reference your MR link that addresses it.

**Issues:**

1. [ ] Phone number still doesn’t want to populate between f

[2020-06-11 17:07] oliviaclyde commented on #202
@Mengqi89 I see an open issue for the Justice Court coversheet. It looks like it's been resolved. If so, I will close it and cross of item 5 above.

[2020-06-11 17:58] Mengqi89 commented on #202
@oliviaclyde  Thanks so much for creating the list. I believe 5, 7, 8 and 22 are all resolved. I wanted to double check if item 9 is resolved but I am not sure which form it refers to. I recall addressing a similar issue in the past.

[2020-06-23 17:11] Mengqi89 commented on #202
I am working on 1.

[2020-06-23 18:41] Mengqi89 commented on #202
Item 5, 7 and 12 are already fixed.

Do you all run into issue 8 at all?

[2020-06-25 21:18] Mengqi89 commented on #202
Issue 3, 10 and 29 are fixed in MR: https://github.com/JustUtahCoders/utahexpungements.org/pull/204
Issue 10 and 29 are duplicates. Item 4 does not show up as an issue.

[2020-07-02 17:44] Mengqi89 commented on #202
Regarding Issue 11, it seems the court address is correct: https://www.sjc.utah.gov/courts-fines/ @tuckersamuelsen

[2020-07-02 18:03] Mengqi89 commented on #202
Issue 12 was already resolved.

Issue 13 is resolved here: https://github.com/JustUtahCoders/utahexpungements.org/pull/205

[2020-07-04 22:55] benschinn commented on #202
Working on calculating and rendering subtotals

[2020-07-06 21:39] Mengqi89 commented on #202
Working on 21.

[2020-07-06 23:05] tuckersamuelsen commented on #202
Confirmed, address is correct as is.  Thanks!

[2020-07-15 20:58] oliviaclyde commented on #202
Doing some clean up of our issues list. I have linked and crossed out issues that have been resolved (most with PRs linked)

Item 4 - not seeing this issue on my end
Item 8 - not seeing this issue on my end
Item 9 - previous resolved. Linked PRs
Item 11 - per Tucker address is correct as is. Resolving issue
Item 12 - resolved but don't see a PR to link
Item 22 - resolved but don't see a PR to link

[2020-07-28 20:01] oliviaclyde commented on #202
On #36 above, I'm not seeing this issue. The only address I'm seeing populate is "220 Morris Ave #200, Salt Lake City, UT 84115". I checked the JusticeCourtList.json file and the address I referenced is what populates on the form. @Mengqi89  are you seeing this issue? If not, I believe the address was previously corrected and this issue is resolved.

[2020-07-28 20:22] oliviaclyde commented on #202
Item 41 above, I'm not seeing this issue. I'm seeing the Farmington District Court populate under Davis County with the address: 800 W State St, Farmington, UT 84025. Are you seeing this as well @Mengqi89 ? If so, then this issues has been corrected and is resolved.

[2020-07-29 15:59] Mengqi89 commented on #202
I am with you. I don't see either issue on my end.

[2020-08-12 20:44] Mengqi89 commented on #202
Issue 20 - not seeing this issue

[2020-10-06 21:24] #176 closed